body {
    background: silver;
    font-family: 'Arial Black';
}

p {
    color:green;
    font-style: italic;
    font-family: 'Monotype corsiva';
}

h3, h4 {
    font-family: Arial;
}

h3 {color: blue;}
h4 {color: yellow;}

li {
    font-size: 12px;
}